body {
  background-image: url("background.jpg");
}
.jumbotron {
  text-align: center;
  margin-top: 25px;
  background-color: #342a21 !important;
  color: aliceblue !important;
  padding: 80%;
  font-style: oblique;
}

.form {
  margin: auto;
  max-width: 400px;
  text-align: center;
  background-color: #71816d;
  animation: pulse 5s;
  border-radius: 25px;
}

input[type="submit"],
button,
[aria-label] {
  cursor: pointer;
}
#edit-box {
  display: none;
  max-width: 40%;
  margin: auto;
  margin-top: 10px;
  background-color: #71816d;
  animation: pulse 5s;
}

td {
  background-color: #71816d;
  padding-right: 10px;
  text-align: left;
  color: white;
  animation: pulse 5s;
  border-radius: 5%;
}
@keyframes pulse {
  0% {
    background-color: #f1e0c5;
  }
  100% {
    background-color: #71816d;
  }
}

.to-do {
  background: transparent !important;
  text-align: center;
}
.slide {
  animation-duration: 3s;

  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;

    width: 300%;
  }
}
